<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="Intex" providerName="System.Data.SqlClient" connectionString="server=192.168.132.3;database=intex;uid=ashwani;pwd=Intex007423" />
    <add name="IntexLive" providerName="System.Data.SqlClient" connectionString="server=192.168.132.3;database=salesForce;uid=ashwani;pwd=Intex007423" />-->
    <add name="IntexLive" providerName="System.Data.SqlClient" connectionString="server=192.168.131.16;database=iservice_test;uid=ashwani;pwd=Intex001"/>
    <add name="IntexSaleForce" providerName="System.Data.SqlClient" connectionString="server=192.168.131.16;database=salesForce;uid=ashwani;pwd=Intex001" />
    <!--<add name="IntexLive" providerName="System.Data.SqlClient" connectionString="server=localhost;database=salesForce;uid=sa;pwd=babu@123" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="None" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="ApiQuotaBinding" maxReceivedMessageSize="10485760" maxBufferPoolSize="10485760" maxBufferSize="10485760" closeTimeout="00:03:00"
              openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00" >
          <readerQuotas maxDepth="32" maxStringContentLength="10485760" maxArrayLength="10485760" maxBytesPerRead="10485760" />
          <security mode="None" />
        </binding>
        <binding name="JsonP-webHttpBinding" crossDomainScriptAccessEnabled="true">
          <security mode="None" />
        </binding>
      </webHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_Configuration"
                  closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
                  sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false"
                  hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
                  maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8"
                  useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
      </wsHttpBinding>

    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webby">
          <webHttp helpEnabled="true" />
        </behavior>


      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WcfService.AttendancePunch" >
        <endpoint address="" behaviorConfiguration="webby"  binding="webHttpBinding"  contract="WcfService.IAttendancePunch" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <!--<add baseAddress="https://localhost:49513/LoginService/Service.svc"/>-->
          </baseAddresses>
        </host>
      </service>
      <service name="WcfService.Service" >
        <endpoint address="" behaviorConfiguration="webby"  binding="webHttpBinding"  contract="WcfService.IService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:49513/LoginService/Service.svc"/>
          </baseAddresses>
        </host>
      </service>
      <service name="WcfService.InstallationCall" >
        <endpoint address="" behaviorConfiguration="webby"  binding="webHttpBinding" bindingConfiguration="ApiQuotaBinding" contract="WcfService.IInstallationCall" />
        <endpoint address="jsonp" binding="webHttpBinding" behaviorConfiguration="webby" bindingConfiguration="JsonP-webHttpBinding" contract="WcfService.IInstallationCall" />
        <endpoint address="basic" binding="basicHttpBinding" contract="WcfService.IInstallationCall" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <!--<baseAddresses>
            <add baseAddress="https://localhost:49513/LoginService/InstallationCall.svc"/>
          </baseAddresses>-->
        </host>
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>